rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /listings/{listingId} {
      allow read: if true;
      allow write: if false;
    }

    match /reviews/{reviewId} {
      allow read: if true;
      allow write: if false;
    }

    match /bookings/{bookingId} {
      allow read, write: if true;
    }
  }
}
